# Virtual Environments and Python Caches
.uv/
.venv/
__pycache__/
*.pyc
__marimo__/
.ipynb_checkpoints/

# Project Caches
models/

# Raw and Processed Datasets
data/raw/*
data/processed/

# WHITELIST:
!data/raw/group_fixtures.csv
!data/raw/knockout_slots.csv
