# Virtual Environments and Python Caches
.uv/
.venv/
__pycache__/
*.pyc
__marimo__/
my_dashboard_dir/
.ipynb_checkpoints/

# Datasets
data/artifacts
data/processed/
data/raw/*
data/runs/*

# WHITELIST:
!data/raw/group_fixtures.csv
!data/raw/knockout_slots.csv
!data/raw/.gitkeep
